.main-image {
    height: 700px;
    width: 600px;
}

.heading {
    color: rgb(190, 85, 24);
    font-size: 50px;
}

.main-heading,
.sub-heading {
    color: rgba(151, 65, 14, 0.767);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;

}

.sub-heading {
    font-size: 20px;
}

.description {
    color: rgb(143, 130, 18);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.uolist-item {
    color: rgb(143, 130, 18);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
}

.olist-item {
    color: rgb(148, 147, 66);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}